@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins;
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url('../fonts/PoppinsRegular.ttf');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('../fonts/PoppinsMedium.ttf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('../fonts/PoppinsBold.ttf');
}

@font-face {
  font-family: 'PoppinsExtraBold';
  src: url('../fonts/PoppinsExtraBold.ttf');
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('../fonts/PoppinsLight.ttf');
}

@font-face {
  font-family: 'PoppinsThin';
  src: url('../fonts/PoppinsThin.ttf');
}

@font-face {
  font-family: 'PoppinsBlack';
  src: url('..fonts/PoppinsBlack.ttf');
}
